---
const { head, icon, content } = Astro.props;
---

<article>
  <h4>{head}</h4>

  <svg>
    <use xlink:href=`/images/sprites.svg#${icon}`></use>
  </svg>

  <p>
    {content}
  </p>
</article>

<style lang="scss">
  article {
    text-align: center;

    h4 {
      font-size: 18px;
    }

    svg {
      background: var(--c-secondary);
      border-radius: 250px;
      color: white;
      height: 125px;
      margin: 20px 0;
      overflow: unset;
      padding: 40px;
      width: 125px;
    }
  }
</style>
