---
const { id, name, size, image } = Astro.props;
---

<article>
  <a href="#">
    <picture>
      <img src={image} alt="" />
    </picture>
  </a>
  <p>
    {name}
  </p>
</article>

<style lang="scss">
  article {
    display: grid;
    gap: 20px;
    text-align: center;

    a {
      border-radius: 250px;
      overflow: hidden;
      width: 150px;
      height: 150px;

      picture {
        display: grid;
        padding: 20px;
        position: relative;

        &::after {
          background-color: var(--c-theme);
          content: "";
          height: 100%;
          opacity: 0.4;
          position: absolute;
          width: 100%;
        }
      }
    }
  }
</style>
