:root {
  --c-default: #212427;
  --c-inverted: white;
  --c-theme: #2c80be;
  --c-secondary: #52a2db;

  --t-max-width: 1200px;
}

html {
  scrollbar-color: var(--c-theme) white;
  scrollbar-width: thin;
}

body {
  color: #212427;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.62;
}

.button {
  background-color: var(--c-secondary);
  border-radius: 25px;
  color: white;
  display: block;
  margin: 40px 0 0;
  padding: 15px 30px;
  width: fit-content;
  white-space: nowrap;
}

h1 {
  font-size: 48px;
  line-height: 1.32;
  margin: 0 0 10px;
}

h2 {
  font-size: 28px;
  line-height: 1.32;
  margin: 0 0 10px;
}

h3 {
  font-size: 22px;
  line-height: 1.32;
  margin: 92px 0;
  text-align: center;

  &::before,
  &::after {
    content: "⎯⎯⎯⎯⎯⎯⎯";
    margin: 0 20px;
  }
}

h4 {
  font-size: 22px;
  line-height: 1.32;
  margin: 20px 0;
}
