---
import BaseLayout from "../layouts/BaseLayout.astro";

const gallery = [
  {
    id: 1,
    name: "image-1",
  },
  {
    id: 2,
    name: "image-2",
  },
  {
    id: 3,
    name: "image-3",
  },
  {
    id: 4,
    name: "image-4",
  },
  {
    id: 5,
    name: "image-5",
  },
  {
    id: 6,
    name: "image-6",
  },
  {
    id: 7,
    name: "image-7",
  },
  {
    id: 8,
    name: "image-8",
  },
  {
    id: 9,
    name: "image-9",
  },
  {
    id: 10,
    name: "image-10",
  },
  {
    id: 11,
    name: "image-11",
  },
  {
    id: 12,
    name: "image-12",
  },
  {
    id: 13,
    name: "image-13",
  },
  {
    id: 14,
    name: "image-14",
  },
  {
    id: 15,
    name: "image-15",
  },
  {
    id: 16,
    name: "image-16",
  },
  {
    id: 17,
    name: "image-17",
  },
  {
    id: 18,
    name: "image-18",
  },
  {
    id: 19,
    name: "image-19",
  },
  {
    id: 20,
    name: "image-20",
  },
  {
    id: 21,
    name: "image-21",
  },
  {
    id: 22,
    name: "image-22",
  },
  {
    id: 23,
    name: "image-23",
  },
];
---

<BaseLayout>
  <section id="trigger">
    <h1>О компании</h1>

    <ul>
      <li>
        Наше предприятие растет, и мы регулярно увеличиваем географию наших поставок: постепенно к партнерам из
        Волгограда и Волгоградской области прибавились клиенты из Краснодара и Хабаровска, из Омска и Брянска.<br /><br
        />
         На сегодняшний день мы осуществляем доставку наземным транспортом в большинство крупных городов и районных
        центров Российской Федерации. Наработанный опыт позволяет разрабатывать наиболее выгодную для каждого клиента
        логистическую схему, предлагать оптимальную упаковку продукции и с минимальной погрешностью определять сроки
        поставки.
      </li>

      <li>
        Несмотря на достаточную известность, мы активно принимаем участие в специализированных выставках, так как всегда
        заинтересованы в новых клиентах. К тому же мы рады представить новые типы стальных труб нашим постоянным и
        потенциальным покупателям.<br /><br />
         Бизнес расширяется, а наша компания остается сплоченной командой людей, радеющих за свое дело. Мы регулярно
        развиваемся и повышаем квалификацию своих сотрудников. Особое внимание в нерабочее время мы уделяем спорту:
        соревнования по футболу, хоккею, дартс, как нельзя лучше помогают почувствовать командный дух в компании.
        Стремление к новым достижениям, спортивный азарт сделать свою работу еще лучше и качественнее, спокойная
        рассудительность в принятии решений и удовольствие работать в коллективе хороших людей и для хороших людей –
        таковы основные характеристики команды «Профиль-Сталь».
      </li>
    </ul>

    <h3>Спорт</h3>

    <ul>
      <li>
        Основой потенциала компании «Профиль-Сталь» является ее коллектив. Деятельность сотрудников компании построена
        на принципах взаимовыручки, профессионализма и слаженности действий. Чтобы достичь такого уровня, руководство
        компании «Профиль-Сталь» наладило систему неформальных отношений, таких как, ежегодные сплавы по реке Дон,
        участие в любительских футбольных турнирах Волгограда, а также создание собственной хоккейной команды «Сталь»!
        Хоккей – командная спортивная игра, которая проходит в высоком темпе и насыщена острыми, неожиданными, быстро
        сменяющимися ситуациями. Такие показатели подходят и для рынка металла при реализации профильных электросварных
        труб, и в такой обстановке для сотрудников компании «Профиль-Сталь» незаменимыми становятся такие качества
        хоккеистов, как быстрота тактического мышления, умение мгновенно разобраться в непрерывно меняющихся ситуациях и
        принять самое лучшее, самое неожиданное и верное решение. Роли в этой игре четко распределены и члены команды
        доверяют друг другу на 100%, как и члены нашего коллектива.

        <picture>
          <img src="/images/sport/hokkey.jpg" alt="" />
        </picture>
      </li>

      <li>
        Занятие спортом дело полезное и привлекательное. Для офиса удачным решением является игра в дартс. Специалисты
        давно советуют, что офисным работникам следует обратить особое внимание на эту игру. Во-первых, это отличный вид
        корпоративного отдыха. А во-вторых, тенденции последних лет указывают на то, что умение достойно играть в дартс
        стало частью делового этикета. Трудно найти лучший способ для разрядки в офисе. Здесь и улучшение координации
        движений, и смена положения тела, так необходимая при рутинной работе, а еще и огромный стимул для укрепления
        корпоративного духа, который конечно же присутствует в отделе продаж тонкостенных электросварных труб компании
        «Профиль-Сталь». А также это отличный способ создать непринужденную обстановку в коллективе. Доказано, что
        метание дротиков повышает внимательность, сосредоточенность, а также уровень стрессоустойчивости у людей,
        работающих в агрессивных условиях, что является одним из самых необходимых профессиональных качеств нашего
        времени. Компания «Профиль-Сталь» не исключение. Наши сотрудники являются не только замечательными специалистами
        по поставкам стальных труб в различные регионы нашей страны, но и стараются вести здоровый образ жизни, быть
        разносторонне развитыми.

        <picture>
          <img src="/images/sport/goblet.jpg" alt="" />
        </picture>
      </li>
    </ul>

    <h3>Фотогалерея</h3>

    <article>
      <picture>
        {gallery.map((item) => <img src={"/images/gallery/" + item.name + ".jpg"} alt="" />).slice(0, 12)}
      </picture>

      <picture>
        {gallery.map((item) => <img src={"/images/gallery/" + item.name + ".jpg"} alt="" />).slice(12, 23)}
      </picture>
    </article>
  </section>
</BaseLayout>

<style lang="scss">
  section {
    display: grid;
    gap: 40px;
    margin: auto;
    max-width: var(--t-max-width);
    padding: 100px 0;

    ul {
      display: grid;
      grid-template: auto / repeat(2, 1fr);
      gap: 40px;

      li {
        margin: 0 0 20px;
      }

      &:nth-of-type(2) {
        grid-template: auto / 1fr;

        li {
          display: grid;
          grid-template: auto / repeat(2, 1fr);
          gap: 40px;
          margin: 0;
        }
      }
    }

    article {
      display: grid;
      gap: 20px;
      overflow: auto;
      scrollbar-color: darkgrey #ffffff;
      scrollbar-width: thin;

      picture {
        display: flex;
        gap: 20px;
      }
    }
  }

  @media only screen and (max-width: 720px) {
    section {
      ul {
        grid-template: auto / 1fr;

        li {
          grid-template: auto / 1fr !important;
        }
      }
    }
  }
</style>
