---
import CrumbsComponent from "../components/sub-components/CrumbsComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const gallery = [
  {
    id: 1,
    name: "/images/gallery/image-1.jpg",
  },
  {
    id: 2,
    name: "/images/gallery/image-2.jpg",
  },
  {
    id: 3,
    name: "/images/gallery/image-3.jpg",
  },
  {
    id: 4,
    name: "/images/gallery/image-4.jpg",
  },
  {
    id: 5,
    name: "/images/gallery/image-5.jpg",
  },
  {
    id: 6,
    name: "/images/gallery/image-6.jpg",
  },
  {
    id: 7,
    name: "/images/gallery/image-7.jpg",
  },
  {
    id: 8,
    name: "/images/gallery/image-8.jpg",
  },
  {
    id: 9,
    name: "/images/gallery/image-9.jpg",
  },
  {
    id: 10,
    name: "/images/gallery/image-10.jpg",
  },
  {
    id: 11,
    name: "/images/gallery/image-11.jpg",
  },
  {
    id: 12,
    name: "/images/gallery/image-12.jpg",
  },
  {
    id: 13,
    name: "/images/gallery/image-13.jpg",
  },
  {
    id: 14,
    name: "/images/gallery/image-14.jpg",
  },
  {
    id: 15,
    name: "/images/gallery/image-15.jpg",
  },
  {
    id: 16,
    name: "/images/gallery/image-16.jpg",
  },
  {
    id: 17,
    name: "/images/gallery/image-17.jpg",
  },
  {
    id: 18,
    name: "/images/gallery/image-18.jpg",
  },
  {
    id: 19,
    name: "/images/gallery/image-19.jpg",
  },
  {
    id: 20,
    name: "/images/gallery/image-20.jpg",
  },
  {
    id: 21,
    name: "/images/gallery/image-21.jpg",
  },
  {
    id: 22,
    name: "/images/gallery/image-22.jpg",
  },
  {
    id: 23,
    name: "/images/gallery/image-23.jpg",
  },
];
---

<BaseLayout>
  <CrumbsComponent title="О компании" />

  <section>
    <h1>О компании</h1>

    <article>
      <p>
        Наше предприятие растет, и мы регулярно увеличиваем географию наших поставок: постепенно к партнерам из
        Волгограда и Волгоградской области прибавились клиенты из Краснодара и Хабаровска, из Омска и Брянска.<br /><br
        />
         На сегодняшний день мы осуществляем доставку наземным транспортом в большинство крупных городов и районных
        центров Российской Федерации. Наработанный опыт позволяет разрабатывать наиболее выгодную для каждого клиента
        логистическую схему, предлагать оптимальную упаковку продукции и с минимальной погрешностью определять сроки
        поставки.
      </p>

      <p>
        Несмотря на достаточную известность, мы активно принимаем участие в специализированных выставках, так как всегда
        заинтересованы в новых клиентах. К тому же мы рады представить новые типы стальных труб нашим постоянным и
        потенциальным покупателям.<br /><br />
         Бизнес расширяется, а наша компания остается сплоченной командой людей, радеющих за свое дело. Мы регулярно
        развиваемся и повышаем квалификацию своих сотрудников. Особое внимание в нерабочее время мы уделяем спорту:
        соревнования по футболу, хоккею, дартс, как нельзя лучше помогают почувствовать командный дух в компании.
        Стремление к новым достижениям, спортивный азарт сделать свою работу еще лучше и качественнее, спокойная
        рассудительность в принятии решений и удовольствие работать в коллективе хороших людей и для хороших людей –
        таковы основные характеристики команды «Профиль-С».
      </p>
    </article>

    <h3>Спорт</h3>

    <article>
      <p>
        Основой потенциала компании «Профиль-С» является ее коллектив. Деятельность сотрудников компании построена на
        принципах взаимовыручки, профессионализма и слаженности действий. Чтобы достичь такого уровня, руководство
        компании «Профиль-С» наладило систему неформальных отношений, таких как, ежегодные сплавы по реке Дон, участие в
        любительских футбольных турнирах Волгограда, а также создание собственной хоккейной команды «Сталь»! Хоккей –
        командная спортивная игра, которая проходит в высоком темпе и насыщена острыми, неожиданными, быстро
        сменяющимися ситуациями. Такие показатели подходят и для рынка металла при реализации профильных электросварных
        труб, и в такой обстановке для сотрудников компании «Профиль-С» незаменимыми становятся такие качества
        хоккеистов, как быстрота тактического мышления, умение мгновенно разобраться в непрерывно меняющихся ситуациях и
        принять самое лучшее, самое неожиданное и верное решение. Роли в этой игре четко распределены и члены команды
        доверяют друг другу на 100%, как и члены нашего коллектива.

        <picture>
          <img src="/images/sport/hokkey.jpg" alt="" />
        </picture>
      </p>

      <p>
        Занятие спортом дело полезное и привлекательное. Для офиса удачным решением является игра в дартс. Специалисты
        давно советуют, что офисным работникам следует обратить особое внимание на эту игру. Во-первых, это отличный вид
        корпоративного отдыха. А во-вторых, тенденции последних лет указывают на то, что умение достойно играть в дартс
        стало частью делового этикета. Трудно найти лучший способ для разрядки в офисе. Здесь и улучшение координации
        движений, и смена положения тела, так необходимая при рутинной работе, а еще и огромный стимул для укрепления
        корпоративного духа, который конечно же присутствует в отделе продаж тонкостенных электросварных труб компании
        «Профиль-С». А также это отличный способ создать непринужденную обстановку в коллективе. Доказано, что метание
        дротиков повышает внимательность, сосредоточенность, а также уровень стрессоустойчивости у людей, работающих в
        агрессивных условиях, что является одним из самых необходимых профессиональных качеств нашего времени. Компания
        «Профиль-С» не исключение. Наши сотрудники являются не только замечательными специалистами по поставкам стальных
        труб в различные регионы нашей страны, но и стараются вести здоровый образ жизни, быть разносторонне развитыми.

        <picture>
          <img src="/images/sport/goblet.jpg" alt="" />
        </picture>
      </p>
    </article>

    <h3>Фотогалерея</h3>

    <div class="carousel">
      {
        gallery.map((item) => (
          <picture>
            <img src={item.name} alt="" />
          </picture>
        ))
      }
    </div>

    <div class="buttons-group">
      <button class="button__previous"></button>
      <button class="button__next"></button>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  section {
    margin: auto;
    max-width: var(--t-max-width);
    padding: 100px 0;

    h1 {
      margin: 40px 0;
    }

    h3 {
      margin: 100px 0 20px;
    }

    article {
      display: grid;
      grid-template: auto / repeat(2, 1fr);
      gap: 20px;

      &:last-of-type {
        grid-template: auto / 1fr;

        p {
          display: grid;
          grid-template: auto / repeat(2, 1fr);
          gap: 20px;
        }
      }
    }

    div {
      display: flex;
      gap: 40px;
      overflow: hidden;
      padding: 0 0 40px;

      picture {
        &.active {
          background-color: rgba(81, 162, 219, 0.5);
          backdrop-filter: blur(3px);
          display: grid;
          inset: 0;
          place-items: center;
          position: fixed;
          transform: none !important;
          z-index: 8;
          scale: 3;
        }

        img {
          max-inline-size: none;
        }
      }
    }

    .buttons-group {
      gap: 10px;
      max-width: var(--t-max-width);
      justify-content: center;

      button {
        background-color: var(--c-secondary);
        border-radius: 25px;
        cursor: pointer;
        padding: 6px 30px;

        &:first-of-type {
          background-color: #eeeeee;
          padding: 6px 20px;
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  @media only screen and (max-width: 720px) {
    section {
      article {
        grid-template: auto / 1fr;

        &:last-of-type {
          p {
            grid-template: auto / 1fr;
          }
        }
      }
    }
  }
</style>

<script>
  // Забираем все слайды из контейнера
  const slides = document.querySelectorAll(".carousel picture") as NodeListOf<HTMLDivElement>;
  // Вперед
  const next = document.querySelector(".button__next");
  // Текущий слайд
  let current = 0;
  // Всего слайдов в контейнере
  let total = slides.length - 1;

  let gap = 40;

  next.addEventListener("click", function () {
    // Проверяем является ли текущий слайд последним или сбрасываем состояние
    if (current === total) {
      current = 0;
    } else {
      current++;
    }

    // Смещаем слайд на ширину слайда + gap
    slides.forEach((slide, index) => {
      slide.style.transform = `translateX(calc(${slides[index].offsetWidth + gap}px * -${current}))`;
    });
  });

  // Назад
  const previous = document.querySelector(".button__previous");

  previous.addEventListener("click", function () {
    // Проверяем является ли текущий слайд первым или сбрасываем состояние
    if (current === 0) {
      current = total;
    } else {
      current--;
    }

    // Смещаем слайд на ширину слайда + gap
    slides.forEach((slide, index) => {
      slide.style.transform = `translateX(calc(${slides[index].offsetWidth + gap}px * -${current}))`;
    });
  });

  slides.forEach((slide) => {
    slide.addEventListener("click", () => {
      if (slide.classList.contains("active")) {
        slide.classList.remove("active");
      } else {
        slide.classList.add("active");
      }
    });
  });
</script>
