---
import CatalogSidebarComponent from "../components/CatalogSidebarComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="trigger">
    <CatalogSidebarComponent category="Трубы круглые" />

    <div>
      <article>
        <h4>Труба круглая</h4>
        <ul>
          <li><b>D</b> - диаметр</li>
          <li><b>S</b> - толщина стенки, мм</li>
          <li><b>ДН</b> - диаметр наружный, мм</li>
          <li>ГОСТ 10704-91 - <a href="/">Скачать</a></li>
        </ul>
        <a href="/" class="button">Перейти к товару</a>

        <img src="/images/catalog/01.jpg" alt="" />
      </article>

      <article>
        <h4>Труба мебельная тонкостенная</h4>
        <ul>
          <li><b>D</b> - диаметр</li>
          <li><b>S</b> - толщина стенки, мм</li>
          <li><b>ДН</b> - диаметр наружный, мм</li>
          <li>ГОСТ 10704-91 - <a href="/">Скачать</a></li>
        </ul>
        <a href="/" class="button">Перейти к товару</a>

        <img src="/images/catalog/01.jpg" alt="" />
      </article>

      <h1>Круглые трубы (Волгоград)</h1>

      <p>
        Круглые электросварные прямошовные трубы изготавливаются по ГОСТ 10704-91, ГОСТ 10705-80. Диаметры труб начиная
        с 6 мм - заканчивая большими диаметрами (более 1000мм). Основные марки стали применяемые при изготовлении труб:
        08пс, 2пс, 3пс, 1пс, 09г2с, 08ю. Длина трубы согласно Вашей заявки: от 4 до 12 метров.
      </p>

      <p>
        Круглые трубы изготавливают благодаря электросварке стальной ленты на ТЭСА (Трубоэлектросварочный агрегат). С
        помощью резки на АПР (Агрегат продольной резки металла) стальной штрипс в рулонах нарезается в размер (для
        каждого вида трубы), далее нарезанная лента проходит формовку где постепенно превращается в круглую трубу, затем
        сваривается и охлаждается эмульсией, далее снимается внутренний грат с уже готовой продукции, затем нарезается в
        размер установленный на стане (от 4 до 12 метров).
      </p>

      <p>
        Волгоградская компания «Профиль-Сталь» предлагает круглые трубы практически любого диаметра. Трубная продукция
        активно используется в мебельной промышленности и строительном деле для прокладки водопровода, отопления, газа.
        Всевозможные металлоконструкции, в том числе торговое и рекламное оборудование, мебель разного назначения
        производится на металлических каркасах. При изготовлении товаров для детей (колясок и пр.), многих товаров
        народного потребления труба круглая с прямым швом становится одним из основополагающих элементов.
      </p>

      <p>
        На складе «Профиль-Сталь» вы найдете трубную продукцию круглого сечения разного диаметра, включая минимальный -
        6 мм. Мы предлагаем трубную продукцию из стали углеродистых марок, однако по отдельной заявке клиента готовы
        сделать круглые трубы из оцинкованных металлов или особых марок. В Москве, Краснодаре, Екатеринбурге, на Дальнем
        Востоке и т.д. – везде есть наши заказчики, география наших клиентов велика.
      </p>

      <p>Круглая труба от «Профиль-Сталь» может быть поставлена в любой регион РФ.</p>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  section {
    display: grid;
    grid-template: auto / 320px 1fr;
    gap: 80px;
    margin: auto;
    max-width: var(--t-max-width);
    padding: 100px 0;
    place-items: baseline;

    div {
      display: inherit;
      gap: inherit;

      article {
        display: grid;
        grid-template: auto / 1fr auto;
        ul {
          li {
            b {
              font-weight: 400;
            }

            &:last-of-type {
              margin: 20px 0 0;

              a {
                text-decoration: underline;
              }
            }
          }
        }

        img {
          grid-column: 2;
          grid-row: 1 / 3;
        }
      }
    }
  }
</style>
