---
import HomeFeaturesComponent from "../components/HomeFeaturesComponent.astro";
import HomeHeroComponent from "../components/HomeHeroComponent.astro";
import HomeOurProductsComponent from "../components/HomeOurProductsComponent.astro";
import HomeWeightmetricsComponent from "../components/HomeWeightmetricsComponent.astro";
import HomeWhyWeAreComponent from "../components/HomeWhyWeAreComponent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <HomeHeroComponent />

  <HomeOurProductsComponent />

  <HomeWhyWeAreComponent />

  <section>
    <article>
      <h2>Стальные трубы для вашего бизнеса</h2>
      <p>
        Количество организаций, предлагающих стальные трубы, неизменно увеличивается, а потому потребителям все сложнее
        выбрать поставщика, ведь, на первый взгляд, все игроки на рынке металлопроката предлагают схожие условия. Однако
        волгоградская компания «Профиль-С выделяется на фоне других торгующих фирм. Чем? Прежде всего, подходом к
        клиенту и торговыми условиями. Приоритетными для нее является качество поставляемой трубной продукции, забота о
        выгоде клиента и абсолютная прозрачность в партнерских отношениях с заказчиком.
      </p>
    </article>
  </section>

  <HomeFeaturesComponent />

  <HomeWeightmetricsComponent />
</BaseLayout>

<style lang="scss">
  section {
    padding: 100px 0;

    article {
      margin: auto;
      max-width: var(--t-max-width);
      text-align: center;
    }
  }
</style>
