---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section id="trigger">
    <h1>Доставка</h1>

    <span>
      <svg width="100" height="50"><use xlink:href="/images/sprites.svg#train"></use></svg>
      <h3>Жд</h3>
    </span>

    <ul>
      <li>
        <span>
          <svg width="96" height="80"><use xlink:href="/images/sprites.svg#5tn"></use></svg>
           Контейнер
        </span>

        <span>
          <svg width="96" height="80"><use xlink:href="/images/sprites.svg#20tn"></use></svg>
           Контейнер
        </span>

        <span>
          <svg width="120" height="80"><use xlink:href="/images/sprites.svg#60tn"></use></svg>
           Полувагон
        </span>
      </li>

      <li>
        <span>
          <svg width="150" height="50"><use xlink:href="/images/sprites.svg#pipe"></use></svg>
           2.3м
        </span>

        <span>
          <svg width="150" height="50"><use xlink:href="/images/sprites.svg#pipe"></use></svg>
           5.8м
        </span>

        <span>
          <svg width="150" height="50"><use xlink:href="/images/sprites.svg#pipe"></use></svg>
           12м
        </span>
      </li>

      <li>
        Доставка производится до станции назначения указанной при оформлении заказа. Возможна доставка контейнеров «до
        двери» - Доставка груза производится до склада (места разгрузки).
      </li>
    </ul>

    <span>
      <svg width="100" height="50"><use xlink:href="/images/sprites.svg#truck"></use></svg>
      <h3>Автотранспорт</h3>
    </span>

    <ul>
      <li>
        <svg width="96" height="80"><use xlink:href="/images/sprites.svg#1tn"></use></svg>
      </li>

      <li>Любой регион РФ от 1 тонны</li>

      <li>
        Доставка еврофурами. Стоимость считается индивидуально, зависит от удаленности склада заказчика,объема груза.
      </li>
    </ul>

    <h3>Складской сервис</h3>

    <ul>
      Мы предлагаем не только качественную продукцию, но и качественный сервис:

      <li>Круглосуточная работа складского комплекса</li>
      <li>Удобные подъездные пути и охраняемая стоянка</li>
      <li>
        Оперативная погрузка, осуществляемая в кратчайшие сроки благодаря слаженной работе команды и наличию двух кранов
      </li>
      <li>Крытый, отапливаемый складской комплекс на 2000 тн и открытая площадка на 5000 тн.</li>
      <li>Бесплатная доставка образцов продукции</li>
    </ul>

    <h3>Спецдлинна</h3>

    <ul>
      <li>
        <svg width="200" height="100"><use xlink:href="/images/sprites.svg#saw"></use></svg>
      </li>

      <li>Розница (от одной штуки)</li>

      <li>Для сокращения отходов на производстве, предлагаем Вам рассчитать и заказать трубу любой длины.</li>
    </ul>

    <ul>
      <li>
        <svg width="200" height="100"><use xlink:href="/images/sprites.svg#pipes"></use></svg>
      </li>

      <li>Опт (от одной тонны)</li>

      <li>Порезка труб осуществляется на базе, по согласованию с менеджером.</li>
    </ul>

    <h3>Упаковка</h3>

    <ul>
      <li>
        <svg width="120" height="100"><use xlink:href="/images/sprites.svg#roll"></use></svg>
      </li>

      <li>Стоимость 500 руб/тн</li>

      <li>
        При отсутствии условий хранения металла на вашем складе мы предлагаем воспользоваться нашей услугой по упаковке
        груза.
      </li>
    </ul>

    <ul>
      <li>
        <svg width="200" height="100"><use xlink:href="/images/sprites.svg#box"></use></svg>
      </li>

      <li>Стоимость от 1500 руб/тн</li>

      <li>Возможна упаковка в пленку и оцинкованные короба.</li>
    </ul>

    <h3>Sos</h3>

    <ul>
      <li>
        <svg width="100" height="100"><use xlink:href="/images/sprites.svg#umbrella"></use></svg>
      </li>

      <li>Универсальное средство по борьбе с коррозией</li>

      <li>
        Длительное хранение металла без специальных условий, может привести к образованию коррозии, закажите специальное
        средство.
      </li>
    </ul>

    <p>
      В отличие от многих поставщиков компания «Профиль-Сталь» готова поставить как трубы стандартной длины, так
      специальной для нужного размера, если вы сообщите об этом при размещении заказа.<br /><br />

       Продажа труб из стали углеродистых марок возможна как по срочным, так и по предварительным заявкам. Однако если вам
      требуется большой тоннаж (свыше 5 тонн), пожалуйста, сообщите нам заранее, и тогда трубы поступят на ваше предприятие
      точно в срок.<br /><br />

       По вашему желанию мы упаковываем электросварные профильные трубы в полиэтилен, оцинкованные короба или обрабатываем
      специальной эмульсией, благодаря которой металл не портится даже при хранении под открытым небом.<br /><br />

       Кроме того, мы готовы предоставить вам бесплатные образцы труб разных типов и диаметров. Звоните нам прямо сейчас.
    </p>
  </section>
</BaseLayout>

<style lang="scss">
  section {
    margin: auto;
    max-width: var(--t-max-width);
    padding: 92px 0 0;

    h1 {
      margin: 92px 0 92px;
    }

    ul {
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      gap: 20px;
      margin: 60px 0 92px;
      place-items: center baseline;

      &:first-of-type {
        li {
          display: grid;
          gap: 40px;
        }
      }

      &:nth-of-type(3) {
        grid-template: auto / 1fr;
        place-items: baseline;

        li {
          margin: 0 0 0 10px;

          &::before {
            content: "-";
            margin: 0 10px 0 0;
          }
        }
      }
    }

    span {
      display: grid;
      place-items: center;
    }

    p {
      margin: 0 0 20px;
    }
  }

  @media only screen and (max-width: 720px) {
    section {
      grid-template: auto / 1fr;

      ul {
        grid-template: auto / 1fr;
      }
    }
  }
</style>
