---
const { catregory } = Astro.props;

const links = [
  {
    name: "Трубы круглые",
    url: "/",
  },
  {
    name: "Трубы квадратные",
    url: "/",
  },
  {
    name: "Трубы прямоугольные",
    url: "/",
  },
  {
    name: "Трубы овальные",
    url: "/",
  },
  {
    name: "Трубы плоскоовальные",
    url: "/",
  },
  {
    name: "Трубы ВГП",
    url: "/",
  },
  {
    name: "Трубы оцинкованые",
    url: "/",
  },
];
---

<aside>
  <!-- <nav>
    <ul>
      {
        links.map((link) => (
          <li class:list={{ active: link.name === catregory }}>
            <a href={link.url}>{link.name}</a>
          </li>
        ))
      }
    </ul>
  </nav> -->

  <nav class="nav">
    <svg width="80" height="40" class="active" data-tab-id="tab-1">
      <use xlink:href="/images/sprites.svg#icon-elipse"></use>
    </svg>

    <svg width="80" height="60" data-tab-id="tab-2">
      <use xlink:href="/images/sprites.svg#icon-circle"></use>
    </svg>

    <svg width="80" height="60" data-tab-id="tab-3">
      <use xlink:href="/images/sprites.svg#icon-square"></use>
    </svg>

    <svg width="80" height="60" data-tab-id="tab-4">
      <use xlink:href="/images/sprites.svg#icon-rectangle"></use>
    </svg>

    <svg width="80" height="60" data-tab-id="tab-5">
      <use xlink:href="/images/sprites.svg#icon-circle-v2"></use>
    </svg>

    <svg width="80" height="60" data-tab-id="tab-6">
      <use xlink:href="/images/sprites.svg#icon-rectangle-rounded"></use>
    </svg>
  </nav>
</aside>

<style lang="scss">
  aside {
    nav {
      background: #f9f9f9;
      border-radius: 25px;
      box-shadow: 0 5px 5px rgba(20, 31, 51, 0.06);
      display: flex;
      padding: 20px;
      place-items: center;
      place-content: space-between;

      svg {
        color: var(--c-default);
        opacity: 0.1;
        overflow: visible;
        cursor: pointer;

        &:hover {
          color: var(--c-theme);
        }

        &.active {
          color: var(--c-theme);
          opacity: 1;
        }
      }
    }
  }
</style>
