---
const links = [
  {
    name: "Главная",
    href: "/",
  },
  {
    name: "Каталог",
    href: "/catalog",
  },
  {
    name: "Сервис",
    href: "/service",
  },
  {
    name: "Компания",
    href: "/about",
  },
  {
    name: "Контакты",
    href: "/contacts",
  },
];
---

<header id="header">
  <nav>
    <svg width="159" height="52">
      <use xlink:href="/images/sprites.svg#icon-profil-c"></use>
    </svg>

    <ul>
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.name}</a>
          </li>
        ))
      }
      <li>+7 8442 91 11 99</li>
    </ul>
  </nav>
</header>

<style lang="scss">
  header {
    background-color: var(--c-theme);
    color: var(--c-inverted);
    position: sticky;
    top: 0;
    z-index: 9;

    nav {
      display: flex;
      gap: 20px;
      margin: auto;
      max-width: var(--t-max-width);

      ul {
        display: flex;
        gap: 40px;
        margin: auto 0 2px auto;
        place-items: baseline;

        li {
          a {
            padding: 0 0 5px;
            &:hover {
              background-color: var(--c-theme);
              border-bottom: 2px solid;
              color: white;
            }
          }

          &:last-child {
            font-size: 18px;
            font-weight: 400;
            margin: 0 0 0 60px;
          }
        }
      }
    }

    nav {
      padding: 20px 0;
    }
  }

  .shadow {
    box-shadow: 0 8px 18px rgba(20, 31, 51, 0.4);
  }
</style>

<script>
  const products = document.querySelector("#products");
  const header = document.querySelector("#header");

  window.addEventListener("scroll", () => {
    if (products.getBoundingClientRect().top < header.getBoundingClientRect().bottom) {
      header.classList.add("shadow");
    } else {
      header.classList.remove("shadow");
    }
  });
</script>
