---

---

<section>
  <div>
    <article>
      <svg>
        <use xlink:href="/images/sprites.svg#icon-calc"></use>
      </svg>

      <p>
        Привлекательная для покупателей модная тенденция на рынке металлопроката - предлагать поставить профильные трубы
        с отсрочкой платежа, т.е. без денег – имеет свои подводные камни. Помните, в таком случае в вашу цену
        обязательно будет заложен банковский процент поставщика.
      </p>

      <p>
        Мы работаем открыто – вы платите за продукцию ее цену без дополнительных процентов. И это по-настоящему выгодно!
      </p>
    </article>

    <article class="reverse">
      <svg>
        <use xlink:href="/images/sprites.svg#icon-truck"></use>
      </svg>

      <p>
        При покупке продукции без денег поставщики могут привезти ее тогда, когда будет удобно им. Не заплатив, вы не
        сможете даже предъявить претензий.
      </p>

      <p>
        Для любого производителя и строителя важны сроки. Одним из приоритетов компании «Профиль-С является точное
        соблюдение условий и сроков поставок. Купив круглые, прямоугольные или квадратные трубы у нас, вы гарантированно
        получите заказ в течение недели.
      </p>
    </article>

    <article>
      <svg>
        <use xlink:href="/images/sprites.svg#icon-quality"></use>
      </svg>

      <p>
        Получив электросварные трубы без денег, вы не можете требовать идеального качества привезенной продукции, и
        поставщики часто пользуются этим.
      </p>

      <p>
        Компания «Профиль-С работает на рынке уже около 10 лет и выстраивает свое дальнейшее развитие на многие
        десятилетия вперед. Нам важна репутация, поэтому мы поставляем только продукцию высокого качества. Тонкостенные
        трубы, которые мы предлагаем, производятся на высокотехнологичном итальянском и корейском оборудовании. Это
        могут быть круглые трубы или изделия любого другого профиля. Важно то, что это не сделает ваш заказ дороже – мы
        готовы предоставить вам такой бонус, потому что заботимся о наших клиентах, понимая, что от их процветания
        зависит и наше будущее. Многие заказчики уже стали нашими постоянными партнерами.
      </p>
    </article>

    <article class="reverse">
      <svg>
        <use xlink:href="/images/sprites.svg#icon-scissors"></use>
      </svg>

      <p>
        Поставщики, завлекающие скидкой в цене при большем объеме заказа, стремятся продать любыми способами, а вы при
        этом теряете на избытке закупленной продукции не несколько тысяч, а гораздо больше.
      </p>

      <p>
        «Профиль-С продаст вам трубы (Волгоград) именно в том количестве, которое вы готовы купить. Мы не навязываем
        лишних объемов, а продаем столько, сколько нужно Вам! Заказ труб специальной длины – той которая нужна для
        вашего производства - позволяет колоссальо сэкономить. Вы не будете терять деньги на обрезь трубной продукции,
        на дополнительные затраты времени и рабочей силы. Компания «Профиль-С принимает заказы на прямоугольные трубы
        или продукцию другого сечения такой длины, которая вам требуется.
      </p>
    </article>

    <article>
      <svg>
        <use xlink:href="/images/sprites.svg#icon-house-check"></use>
      </svg>

      <p>
        Благодаря выверенной, грамотной работе наших менеджеров вам не нужно будет заниматься поиском товара. Нужная вам
        труба оцинкованная или обычная стальная электросварная будет всегда в наличии.
      </p>

      <p>
        Заказав продукцию в прокат, вы сможете бесплатно хранить ее на крытом складе «Профиль-С столько, сколько нужно,
        будучи уверенными, что она содержится в идеальных условиях, необходимых для такого товара, как тонкостенная
        труба. Мы заботимся о Вас, чтобы процветать в будущем, и потому мы работаем хорошо.
      </p>
    </article>
  </div>
</section>

<style lang="scss">
  section {
    padding: 100px 0;

    div {
      display: grid;
      gap: 80px;
      margin: auto;
      max-width: var(--t-max-width);

      article {
        display: inherit;
        grid-template: auto / repeat(2, 1fr);

        svg {
          color: var(--c-theme);
          grid-row: 1 / 3;
          height: 150px;
          margin: auto;
          padding: 40px;
          width: 150px;
        }

        p {
          border-radius: 15px;
          grid-column: 2;
          padding: 20px;

          &:last-of-type {
            background-color: rgba(89, 255, 71, 0.2);
            box-shadow: 0 5px 5px rgba(20, 31, 51, 0.06);
          }
        }

        &.reverse {
          svg {
            grid-column: 2;
            grid-row: 1 / 3;
          }

          p {
            grid-column: 1;
          }
        }
      }
    }
  }
</style>
