---
import CardProductComponent from "./sub-components/CardProductComponent.astro";

const products = [
  {
    id: 1,
    name: "Труба плоскоовальная",
    size: "10x10",
    image: "/images/catalog/01.jpg",
  },
  {
    id: 2,
    name: "Труба квадратная",
    size: "10x10",
    image: "/images/catalog/02.jpg",
  },
  {
    id: 3,
    name: "Труба квадратная",
    size: "10x10",
    image: "/images/catalog/03.jpg",
  },
  {
    id: 4,
    name: "Труба квадратная",
    size: "10x10",
    image: "/images/catalog/04.jpg",
  },
  {
    id: 5,
    name: "Труба круглая",
    size: "10x10",
    image: "/images/catalog/05.jpg",
  },
  {
    id: 6,
    name: "Труба круглая",
    size: "10x10",
    image: "/images/catalog/06.jpg",
  },
  {
    id: 7,
    name: "Труба круглая",
    size: "10x10",
    image: "/images/catalog/07.jpg",
  },
  {
    id: 8,
    name: "Труба прямоугольная",
    size: "10x10",
    image: "/images/catalog/08.jpg",
  },
  {
    id: 9,
    name: "Труба прямоугольная",
    size: "10x10",
    image: "/images/catalog/09.jpg",
  },
  {
    id: 10,
    name: "Труба прямоугольная",
    size: "10x10",
    image: "/images/catalog/10.jpg",
  },
  {
    id: 11,
    name: "Труба овальная",
    size: "10x10",
    image: "/images/catalog/11.jpg",
  },
  {
    id: 12,
    name: "Труба арочная",
    size: "10x10",
    image: "/images/catalog/12.jpg",
  },
  {
    id: 13,
    name: "Труба мебельная тонкостенная",
    size: "10x10",
    image: "/images/catalog/13.jpg",
  },
  {
    id: 14,
    name: "Труба оцинкованная",
    size: "10x10",
    image: "/images/catalog/14.jpg",
  },
  {
    id: 15,
    name: "Труба профильная",
    size: "10x10",
    image: "/images/catalog/15.jpg",
  },
];
---

<section>
  <h3>Наша процукция</h3>

  <div>
    {
      products.map((product) => (
        <CardProductComponent id={product.id} name={product.name} size={product.size} image={product.image} />
      ))
    }
  </div>

  <a href="/catalog" class="button">Посмотреть каталог</a>
</section>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px 40px;

    h3 {
      margin: auto;
    }

    div {
      display: flex;
      gap: inherit;
      max-width: var(--t-max-width);
      margin: auto;
      padding: 0 0 40px;
    }

    .button {
      margin: auto;
    }
  }
</style>
