---

---

<section id="hero">
  <article>
    <svg viewBox="0 0 100 100" width="100px" height="100px" fill="none" stroke-width="2">
      <path>
        <animate
          attributeName="d"
          dur="3000ms"
          repeatCount="indefinite"
          keyTimes="0; .0625; .3125; .395833333; .645833333; .833333333; 1"
          calcMode="spline"
          keySplines="0,0,1,1; .42,0,1,1; 0,0,.58,1; .42,0,.58,1; .42,0,.58,1; .42,0,.58,1"
          values="
              M 0,0 C 50,0 50,0 100,0 100,50 100,50 100,100 50,100 50,100 0,100 0,50 0,50 0,0 Z;
              M 0,0 C 50,0 50,0 100,0 100,50 100,50 100,100 50,100 50,100 0,100 0,50 0,50 0,0 Z; 
              M 50,0 C 75,50 75,50 100,100 50,100 50,100 0,100 12.5,75 12.5,75 25,50 37.5,25 37.5,25 50,0 Z;
              M 50,0 C 75,50 75,50 100,100 50,100 50,100 0,100 12.5,75 12.5,75 25,50 37.5,25 37.5,25 50,0 Z;
              M 100,50 C 100,77.6 77.6,100 50,100 22.4,100 0,77.6 0,50 0,22.4 22.4,0 50,0 77.6,0 100,22.4 100,50 Z;
              M 100,50 C 100,77.6 77.6,100 50,100 22.4,100 0,77.6 0,50 0,22.4 22.4,0, 50,0 77.6,0 100,22.4 100,50 Z;
              M 100,100 C 50,100 50,100 0,100 0,50 0,50 0,0 50,0 50,0 100,0 100,50 100,50 100,100 Z;
            "
        ></animate>
        <animate
          attributeName="stroke"
          dur="3000ms"
          repeatCount="indefinite"
          keyTimes="0; .0625; .3125; .395833333; .645833333; .833333333; 1"
          calcMode="spline"
          keySplines="0,0,1,1; .42,0,1,1; 0,0,.58,1; .42,0,.58,1; .42,0,.58,1; .42,0,.58,1"
          values="#ffffff; #ffffff; #ffffff; #ffffff; #ffffff; #ffffff; #ffffff;"></animate>
      </path>
    </svg>

    <h1>Мы поставляем трубы любого типоразмера</h1>

    <p>
      Благодаря налаженным связям с металлургическими заводами России, Профиль-С имеет возможность осуществлять поставки
      по рыночным ценам, в разумные сроки, в любой уголок РФ, минимальной партией от одной тонны.
    </p>

    <a href="/catalog" class="button">Посмотреть каталог</a>
  </article>

  <svg height="22" width="42">
    <use xlink:href="/images/sprites.svg#icon-rigth-corner"></use>
  </svg>
</section>

<style lang="scss">
  section {
    background-color: var(--c-theme);
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    inset: 0;
    position: sticky;

    article {
      margin: auto auto 0;
      max-width: var(--t-max-width);
      width: 100%;

      svg {
        overflow: visible;
      }

      p {
        max-width: 720px;
      }
    }

    svg {
      margin: auto auto 40px;
    }
  }
</style>
