---

---

<section>
  <h3>Купить профильные трубы выгодно</h3>

  <article>
    <svg>
      <use xlink:href="/images/sprites.svg#icon-free"></use>
    </svg>

    <p>
      Привлекательная для покупателей модная тенденция на рынке металлопроката - предлагать поставить профильные трубы с
      отсрочкой платежа, т.е. без денег – имеет свои подводные камни. Помните, в таком случае в Вашу цену обязательно
      будет заложен банковский процент поставщика. Мы работаем открыто – Вы платите за продукцию ее цену без
      дополнительных процентов. И это по-настоящему выгодно! Для любого производителя и строителя важны сроки. Одним из
      приоритетов компании «Профиль-С является точное соблюдение условий и сроков поставок. При покупке продукции без
      денег поставщики могут привезти ее тогда, когда будет удобно им. Не заплатив, Вы не сможете даже предъявить
      претензий.
    </p>
  </article>

  <article>
    <p>
      Купив круглые, прямоугольные или квадратные трубы у нас, Вы гарантированно получите заказ в течение недели.
      Получив электросварные трубы без денег, Вы не можете требовать идеального качества привезенной продукции, и
      поставщики часто пользуются этим. Компания «Профиль-С работает на рынке уже около 10 лет и выстраивает свое
      дальнейшее развитие на многие десятилетия вперед. Нам важна репутация. Поэтому мы поставляем только продукцию
      высокого качества. Тонкостенные трубы, которые мы предлагаем, производятся на высокотехнологичном итальянском и
      корейском оборудовании. Это могут быть круглые трубы или изделия любого другого профиля.
    </p>

    <svg>
      <use xlink:href="/images/sprites.svg#icon-percent"></use>
    </svg>
  </article>

  <h3>Трубы – Волгоград - Профиль-С</h3>

  <article>
    <p>
      «Профиль-С продаст Вам трубы (Волгоград) именно в том количестве, которое Вы готовы купить. Поставщики,
      завлекающие Вас скидкой в цене при бòльшем объеме заказа, стремятся продать любыми способами, а Вы при этом
      теряете на избытке закупленной продукции не несколько тысяч, а гораздо больше. Мы не навязываем лишних объемов, а
      продаем столько, сколько нужно Вам! Пару слов о длине… Заказ труб специальной длины – той которая нужна для вашего
      производства - позволяет КОЛОССАЛЬНО сэкономить. Вы не будете терять деньги на обрезь трубной продукции, на
      дополнительные затраты времени и рабочей силы. Компания «Профиль-С принимает заказы на прямоугольные трубы или
      продукцию другого сечения такой длины, которая Вас требуется.
    </p>

    <svg>
      <use xlink:href="/images/sprites.svg#icon-sign"></use>
    </svg>
  </article>

  <article>
    <svg>
      <use xlink:href="/images/sprites.svg#icon-truck"></use>
    </svg>

    <p>
      Важно то, что это не сделает Ваш заказ дороже – мы готовы предоставить Вам такой бонус, потому что заботимся о
      наших клиентах, понимая, что от их процветания зависит и наше будущее. Многие заказчики уже стали нашими
      постоянными партнерами. И главное - наличие товара. Благодаря выверенной, грамотной работе наших менеджеров Вам не
      нужно будет заниматься поиском товара. Нужная вам труба оцинкованная или обычная стальная электросварная будет
      всегда в наличии. Заказав продукцию в прокат, Вы сможете бесплатно хранить ее на крытом складе «Профиль-С столько,
      сколько нужно, будучи уверенными, что она содержится в идеальных условиях, необходимых для такого товара, как
      тонкостенная труба. Мы заботимся о Вас, чтобы процветать в будущем, и потому мы работаем хорошо.
    </p>
  </article>
</section>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 100px 0;

    article {
      svg {
        height: 150px;
        padding: 40px;
        width: 150px;
      }
    }
  }
</style>
